<p>This is the find view.</p>
<div class="form-group">
	<h2>出発</h2>
	<input type="text" placeholder="出発バス停">
	<br>
	<div class="btn-group">
		<button type="button" class="btn btn-sm" ng-click="{{ findDeparture() }}">現在地から</button>
		<button type="button" class="btn btn-sm">バス停選択</button>
	</div>
</div>
<div class="form-group">
	<h2>到着</h2>
	<input type="text" placeholder="到着バス停">
	<br>
	<div class="btn-group">
		<button type="button" class="btn btn-sm">現在地から</button>
		<button type="button" class="btn btn-sm">バス停選択</button>
	</div>
</div>
<button type="button" class="btn" ng-click="search()">検索開始</button>
